# FIREBASE
REACT_APP_FIREBASE_API_KEY="APIKEY"
REACT_APP_FIREBASE_AUTH_DOMAIN="DOMAIN"
REACT_APP_FIREBASE_DATABASE_URL="URL"
REACT_APP_FIREBASE_PROJECT_ID="SOMEID"
REACT_APP_FIREBASE_STORAGE_BUCKET="BUCKET"
REACT_APP_FIREBASE_MESSAGING_SENDER_ID="MSGID"

# YOUTUBE
REACT_APP_YOUTUBE_API_KEY=""
